@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500&family=IBM+Plex+Mono:wght@400&family=Libre+Baskerville:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #FCFCFC;
  color: #23201F;
  overflow-x: hidden;
}
